In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
# Index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]

In [3]:
# list and zip creates a list of tuple pairs
# list and zip creates a list of tuple pairs
hier_index = list(zip(outside,inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [4]:
# MultiIndex.from_tuples creates multi index with several levels
index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
# creating a dataframe with a hierarchical index
# (multi level index dataframe)
# column names are set with list
df = pd.DataFrame(randn(6,2), index, ['A','B'])

In [6]:
df # rows have two levels of an index

             A         B
G1 1 -0.125109  0.816040
   2 -1.182658  1.191969
   3 -0.252758 -0.603686
G2 1  2.219317  0.280369
   2  1.079934  1.865414
   3  0.247915 -2.114991

In [7]:
df.loc['G1'] # returns df with rows of outer index level

          A         B
1 -0.125109  0.816040
2 -1.182658  1.191969
3 -0.252758 -0.603686

In [8]:
df.loc['G1'].loc[1]

A   -0.125109
B    0.816040
Name: 1, dtype: float64

In [9]:
# naming the indices
df.index.names

FrozenList([None, None])

In [10]:
df.index.names = ['Groups','Num']

In [11]:
df

                   A         B
Groups Num
G1     1   -0.125109  0.816040
       2   -1.182658  1.191969
       3   -0.252758 -0.603686
G2     1    2.219317  0.280369
       2    1.079934  1.865414
       3    0.247915 -2.114991

In [12]:
# indexing a single cell
df.loc['G2'].loc[2]['B']

np.float64(1.8654135299551173)

In [13]:
df.loc['G1'].loc[1]['A']

np.float64(-0.12510926449216603)

In [14]:
# cross section
# grabing all rows where Num (level 2 index) is 1
df.xs(1, level='Num') # returns a cross section of rows and columns
# first paramter index level 2, second paramter specifies index level 1

               A         B
Groups
G1     -0.125109  0.816040
G2      2.219317  0.280369