## Time Series Basics

[Coding along with Python for Data Analysis: Data Wrangling with Pandas, NumPy, and IPython, Wes Mckinney, O'Reilly, 1st Edition October 2012]

In [8]:
from datetime import datetime
import pandas as pd
import numpy as np

In [9]:
# a basic kind of time series on pandas is a Series indexed by timestamps
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [10]:
ts = pd.Series(np.random.standard_normal(6), index=dates)
ts

2011-01-02    0.131384
2011-01-05   -0.822725
2011-01-07   -0.792792
2011-01-08   -0.370405
2011-01-10    0.767833
2011-01-12   -0.239058
dtype: float64

In [12]:
# datetime objects have been put DatetimeIndex
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [14]:
# arithmetic operations between differently indexed time series automatically align on the dates
ts + ts[::2] # ts[::2] selects every second element in ts

2011-01-02    0.262768
2011-01-05         NaN
2011-01-07   -1.585583
2011-01-08         NaN
2011-01-10    1.535666
2011-01-12         NaN
dtype: float64

In [17]:
# pandas stores timestamps using NumPy's datetime64 data type in the nanosec resolution
ts.index.dtype

dtype('<M8[ns]')

In [19]:
# scalar values from a DatetimeIndex are pandas Timestamp objects
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [23]:
ts

2011-01-02    0.131384
2011-01-05   -0.822725
2011-01-07   -0.792792
2011-01-08   -0.370405
2011-01-10    0.767833
2011-01-12   -0.239058
dtype: float64

In [27]:
# indexing and selecting based on label
stamp = ts.index[2]
ts[stamp]

np.float64(-0.7927915748880956)

In [28]:
# passing a string that is interpretable as a date
ts["2011-01-10"]

np.float64(0.7678328351109673)

In [30]:
ts["20110108"]

np.float64(-0.3704049413697135)

In [32]:
# for a longer time series a year or only a year and month can be passed to easily select slices of data
longer_ts = pd.Series(np.random.standard_normal(1000), 
                      index=pd.date_range("2001-01-01", periods=1000))
longer_ts

2001-01-01   -1.316617
2001-01-02   -0.260643
2001-01-03    2.226456
2001-01-04   -0.889055
2001-01-05    1.164262
                ...
2003-09-23   -0.214790
2003-09-24   -1.329014
2003-09-25    0.836438
2003-09-26   -1.004589
2003-09-27   -0.956666
Freq: D, Length: 1000, dtype: float64

In [33]:
longer_ts["2001"] # string interpreted as year

2001-01-01   -1.316617
2001-01-02   -0.260643
2001-01-03    2.226456
2001-01-04   -0.889055
2001-01-05    1.164262
                ...
2001-12-27   -0.626571
2001-12-28    0.280205
2001-12-29   -0.116640
2001-12-30   -0.236917
2001-12-31    0.592160
Freq: D, Length: 365, dtype: float64

In [34]:
longer_ts["2001-12"] # string interpreted as year and month

2001-12-01   -0.169568
2001-12-02    0.286638
2001-12-03    1.692006
2001-12-04    1.635705
2001-12-05   -1.315704
2001-12-06    0.640946
2001-12-07    1.377709
2001-12-08    0.276067
2001-12-09   -1.500038
2001-12-10    1.090048
2001-12-11   -0.441942
2001-12-12   -1.224628
2001-12-13    1.635745
2001-12-14   -0.068849
2001-12-15   -0.570101
2001-12-16    0.332824
2001-12-17   -0.137714
2001-12-18    0.051406
2001-12-19   -2.136744
2001-12-20    1.832060
2001-12-21   -1.403302
2001-12-22   -1.477400
2001-12-23   -0.430624
2001-12-24    0.466903
2001-12-25   -0.346482
2001-12-26   -0.066670
2001-12-27   -0.626571
2001-12-28    0.280205
2001-12-29   -0.116640
2001-12-30   -0.236917
2001-12-31    0.592160
Freq: D, dtype: float64

In [35]:
# slicing with datetime objects
ts[datetime(2011, 1, 7):]

2011-01-07   -0.792792
2011-01-08   -0.370405
2011-01-10    0.767833
2011-01-12   -0.239058
dtype: float64

In [36]:
# slicing with timestamps not contained in the series to perform a range query
# works because most time series data is ordered chronologically
ts

2011-01-02    0.131384
2011-01-05   -0.822725
2011-01-07   -0.792792
2011-01-08   -0.370405
2011-01-10    0.767833
2011-01-12   -0.239058
dtype: float64

In [38]:
ts['1/6/2011':'1/11/2011'] # data doesn't get copied
# modifications on the slice will be reflected on the original data

2011-01-07   -0.792792
2011-01-08   -0.370405
2011-01-10    0.767833
dtype: float64

In [39]:
# truncate slices a series between two dates
ts.truncate(after='1/9/2011')

2011-01-02    0.131384
2011-01-05   -0.822725
2011-01-07   -0.792792
2011-01-08   -0.370405
dtype: float64

In [40]:
# indexing data frame on its rows
dates = pd.date_range("2000-01-01", periods=100, freq="W-WED")
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [41]:
long_df = pd.DataFrame(np.random.standard_normal((100, 4)),
                       index=dates,
                       columns=["Colorado", "Texas",
                                "New York", "Ohio"])
long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -0.606256 -0.214266 -0.926858  0.189572
2000-01-12  0.939383  0.958006  0.992875 -0.408834
2000-01-19  0.604153  0.163538 -1.716484 -0.786789
2000-01-26 -0.321913  1.789465  1.211872 -1.639224
2000-02-02  0.277663  0.244620  0.342680  1.085544
...              ...       ...       ...       ...
2001-10-31  0.791654 -0.913079  0.143836  1.327274
2001-11-07  0.045707  0.236149  0.314959  0.227489
2001-11-14 -0.587908  0.998489 -0.212546 -0.301231
2001-11-21  1.760671 -0.375885  0.116613 -0.453654
2001-11-28 -0.662091  1.476685 -1.275480  1.148395

[100 rows x 4 columns]

In [42]:
long_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2000-01-05 to 2001-11-28
Freq: W-WED
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Colorado  100 non-null    float64
 1   Texas     100 non-null    float64
 2   New York  100 non-null    float64
 3   Ohio      100 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

### Time Series with Duplicate Indices

In [43]:
# example for multiple data observations falling on a particular timestamp
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02",
                          "2000-01-02", "2000-01-03"])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [44]:
dup_ts.index.is_unique # checking if the index is unique

False

In [46]:
# indexing into timesseries: returns scalar value if not duplicated
dup_ts["2000-01-03"]  # not duplicated

np.int64(4)

In [47]:
# indexing into timesseries: returns slice if duplicated
dup_ts["2000-01-02"]  # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [48]:
# aggregating the data while having non-unique timestamps
grouped = dup_ts.groupby(level=0)
grouped

In [49]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [50]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64