# Time Series

[Coding along with Python for Data Analysis: Data Wrangling with Pandas, NumPy, and IPython, Wes Mckinney, O'Reilly, 1st Edition October 2012]

## Date and Time Data Types and Tools

In [98]:
from datetime import datetime

In [99]:
# datetime stores the date and the time down to the microsecond
now = datetime.now()
now

datetime.datetime(2024, 9, 23, 10, 13, 7, 994295)

In [100]:
now.year, now.month, now.day

(2024, 9, 23)

In [101]:
# timedelta represents the temporal difference between two datetime objects
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [102]:
delta.days

926

In [103]:
delta.seconds

56700

In [104]:
# you can add or subtract a timedelta or multiple thereof to a datetime object to yield a new shifted object
from datetime import timedelta

In [105]:
start = datetime(2011, 1, 7)
start + timedelta(12) # adding 12 days

datetime.datetime(2011, 1, 19, 0, 0)

In [106]:
start - 2 * timedelta(12) # subtracting 24 days

datetime.datetime(2010, 12, 14, 0, 0)

### Converting between String and Datetime

**Datetime format specification (ISO C89 compatible)** (Source: ([www.w3schools](https://www.w3schools.com/python/gloss_python_date_format_codes.asp)))

<table align=left style="width: 66%" class="ws-table-all notranslate">
<tbody><tr>
<th style="width:25%">Directive</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>%a</td>
<td>Weekday, short version</td>
<td>Wed</td>
</tr>
<tr>
<td>%A</td>
<td>Weekday, full version</td>
<td>Wednesday</td>
</tr>
<tr>
<td>%w</td>
<td>Weekday as a number 0-6, 0 is Sunday</td>
<td>3</td>
</tr>
<tr>
<td>%d</td>
<td>Day of month 01-31</td>
<td>31</td>
</tr>
<tr>
<td>%b</td>
<td>Month name, short version</td>
<td>Dec</td>
</tr>
<tr>
<td>%B</td>
<td>Month name, full version</td>
<td>December</td>
</tr>
<tr>
<td>%m</td>
<td>Month as a number 01-12</td>
<td>12</td>
</tr>
<tr>
<td>%y</td>
<td>Year, short version, without century</td>
<td>18</td>
</tr>
<tr>
<td>%Y</td>
<td>Year, full version</td>
<td>2018</td>
</tr>
<tr>
<td>%H</td>
<td>Hour 00-23</td>
<td>17</td>
</tr>
<tr>
<td>%I</td>
<td>Hour 01-12</td>
<td>05</td>
</tr>
<tr>
<td>%p</td>
<td>AM/PM</td>
<td>PM</td>
</tr>
<tr>
<td>%M</td>
<td>Minute 00-59</td>
<td>41</td>
</tr>
<tr>
<td>%S</td>
<td>Second 00-59</td>
<td>08</td>
</tr>
<tr>
<td>%f</td>
<td>Microsecond 000000-999999</td>
<td>548513</td>
</tr>
<tr>
<td>%z</td>
<td>UTC offset</td>
<td>+0100</td>
</tr>
<tr>
<td>%Z</td>
<td>Timezone</td>
<td>CST</td>
</tr>
<tr>
<td>%j</td>
<td>Day number of year 001-366</td>
<td>365</td>
</tr>
<tr>
<td>%U</td>
<td>Week number of year, Sunday as the first day of week, 00-53</td>
<td>52</td>
</tr>
<tr>
<td>%W</td>
<td>Week number of year, Monday as the first day of week, 00-53</td>
<td>52</td>
</tr>
<tr>
<td>%c</td>
<td>Local version of date and time</td>
<td>Mon Dec 31 17:41:00 2018</td>
</tr>
<tr>
<td>%x</td>
<td>Local version of date</td>
<td>12/31/18</td>
</tr>
<tr>
<td>%X</td>
<td>Local version of time</td>
<td>17:41:00</td>
</tr>
<tr>
<td>%%</td>
<td>A % character</td>
<td>%</td>
</tr>
</tbody></table>

In [107]:
stamp = datetime(2020, 12, 24)
stamp

datetime.datetime(2020, 12, 24, 0, 0)

In [108]:
str(stamp)

'2020-12-24 00:00:00'

In [109]:
my_date = stamp.strftime('%Y-%m-%d')
my_date

'2020-12-24'

In [110]:
# example @ https://stackoverflow.com/questions/26105804/extract-month-from-date-in-python
a = '2010-01-31'
datee = datetime.strptime(a, "%Y-%m-%d")

In [111]:
datee.month

1

In [112]:
import calendar
month_name = calendar.month_name[datee.month]
month_name

'January'

In [113]:
datee.year

2010

In [114]:
datee.day

31

In [115]:
# converting strings to dates
value = '2012-02-04'

In [116]:
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2012, 2, 4, 0, 0)

In [117]:
datestrs = ['7/6/2011', '8/6/2011']

In [118]:
[datetime.strptime(x, "%m/%d/%Y") for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [119]:
# using the parse.parse() method to parse a date (comes with pandas)
from dateutil.parser import parse

In [120]:
parse('2012-02-04')

datetime.datetime(2012, 2, 4, 0, 0)

In [121]:
parse('Aug 6, 1945 8:15 am') # time hiroshima bomb was dropped

datetime.datetime(1945, 8, 6, 8, 15)

In [122]:
# parsing with dayfirst=True
parse('9 Aug, 1945 3:47 am', dayfirst=True) # time nagasaki bomb was dropped

datetime.datetime(1945, 8, 9, 3, 47)

In [123]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [124]:
# parsing standard day representation, eg. ISO 8601
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [125]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [126]:
# handling valuse that should considered to be missing
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [127]:
idx[2]

NaT

In [128]:
pd.isnull(idx)

array([False, False,  True])

*For locale-specific date formatting see the book Data Analysis: Data Wrangling with Pandas, NumPy, and IPython, Wes Mckinney, O'Reilly, 1st Edition October 2012, pg. 323*