# Reading Financial Data from Different Sources

*[Coding along with Python for Algorithmic Trading, Yves Hilpisch, O'Reilly, 1st edition November 2020, ISBN-13: 978-1492053354]*

### Using pure Python to read CSV file

In [2]:
file = "../../assets/data/AAPL.csv"

In [3]:
with open(file, 'r') as f:
    for _ in range(5):
        print(f.readline(), end='')

Date,HIGH,CLOSE,LOW,OPEN,COUNT,VOLUME
2020-04-01,248.72,240.91,239.13,246.5,460606.0,44054638.0
2020-04-02,245.15,244.93,236.9,240.34,380294.0,41483493.0
2020-04-03,245.7,241.41,238.9741,242.8,293699.0,32470017.0
2020-04-06,263.11,262.47,249.38,250.9,486681.0,50455071.0

### Reading from a CSV file with Python

In [4]:
import csv # import csv module

In [5]:
csv_reader = csv.reader(open(file, 'r')) # instantiate csv reader iterator object

In [6]:
data = list(csv_reader) # list comprehension adding every single line from the csv file
data[:5] # printing out the first five lines of the list object

[['Date', 'HIGH', 'CLOSE', 'LOW', 'OPEN', 'COUNT', 'VOLUME'],
 ['2020-04-01',
  '248.72',
  '240.91',
  '239.13',
  '246.5',
  '460606.0',
  '44054638.0'],
 ['2020-04-02',
  '245.15',
  '244.93',
  '236.9',
  '240.34',
  '380294.0',
  '41483493.0'],
 ['2020-04-03',
  '245.7',
  '241.41',
  '238.9741',
  '242.8',
  '293699.0',
  '32470017.0'],
 ['2020-04-06',
  '263.11',
  '262.47',
  '249.38',
  '250.9',
  '486681.0',
  '50455071.0']]

In [8]:
# using csv.DictReader instead makes handling data more manageable
csv_reader = csv.DictReader(open(file, 'r')) # csv.DictReader iterator object is instantiated
data = list(csv_reader)
data[:3]

[{'Date': '2020-04-01',
  'HIGH': '248.72',
  'CLOSE': '240.91',
  'LOW': '239.13',
  'OPEN': '246.5',
  'COUNT': '460606.0',
  'VOLUME': '44054638.0'},
 {'Date': '2020-04-02',
  'HIGH': '245.15',
  'CLOSE': '244.93',
  'LOW': '236.9',
  'OPEN': '240.34',
  'COUNT': '380294.0',
  'VOLUME': '41483493.0'},
 {'Date': '2020-04-03',
  'HIGH': '245.7',
  'CLOSE': '241.41',
  'LOW': '238.9741',
  'OPEN': '242.8',
  'COUNT': '293699.0',
  'VOLUME': '32470017.0'}]

In [10]:
# example of inspecting the data: calculating the mean of the Apple closing stock price
# [float(l['CLOSE']) for l in data] -> list object is created via lis comprehension
sum([float(l['CLOSE']) for l in data]) / len(data)

272.3861904761905

### Reading form CSV File withe pandas

In [22]:
import pandas as pd # importing the pandas package

In [24]:
data = pd.read_csv(file, index_col=0, parse_dates=True) # first column shall be index column, interpreted as date-time information

In [14]:
data.info() # meta in

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2020-04-01 to 2020-04-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HIGH    21 non-null     float64
 1   CLOSE   21 non-null     float64
 2   LOW     21 non-null     float64
 3   OPEN    21 non-null     float64
 4   COUNT   21 non-null     float64
 5   VOLUME  21 non-null     float64
dtypes: float64(6)
memory usage: 1.1 KB

In [15]:
data.head()

              HIGH   CLOSE       LOW    OPEN     COUNT      VOLUME
Date
2020-04-01  248.72  240.91  239.1300  246.50  460606.0  44054638.0
2020-04-02  245.15  244.93  236.9000  240.34  380294.0  41483493.0
2020-04-03  245.70  241.41  238.9741  242.80  293699.0  32470017.0
2020-04-06  263.11  262.47  249.3800  250.90  486681.0  50455071.0
2020-04-07  271.70  259.43  259.0000  270.80  467375.0  50721831.0

In [18]:
data.shape

(21, 6)

In [19]:
data.tail() # 4

              HIGH   CLOSE     LOW    OPEN     COUNT      VOLUME
Date
2020-04-24  283.01  282.97  277.00  277.20  306176.0  31627183.0
2020-04-27  284.54  283.17  279.95  281.80  300771.0  29271893.0
2020-04-28  285.83  278.58  278.20  285.08  285384.0  28001187.0
2020-04-29  289.67  287.73  283.89  284.73  324890.0  34320204.0
2020-04-30  294.53  293.80  288.35  289.96  471129.0  45765968.0

In [20]:
# example of inspecting the data: calculating the mean of the Apple closing stock price
data['CLOSE'].mean()

np.float64(272.38619047619056)