# Excercise: Compute Risk/Return Correlation Asset Properly

Excercise 1: Compute the annualized risk return couple for Microsoft Stock price (Yahoo symbol MFST). Don't forget to use the variations price. 

- The risk is the volatility
- The return is the mean of the return
- You need to compute the annualized standard deviation as the volatility and the risk

In [1]:
import yfinance as yf
import numpy as np
import pandas as pd

In [2]:
# import the prices
df = yf.download("MSFT")["Adj Close"].pct_change(1).dropna()

[*********************100%***********************]  1 of 1 completed

In [3]:
# compute risk return
mean = np.mean(df, axis=0) * 100 # mean
vol = np.std(df, axis=0) * 100 # standard deviation

In [4]:
print(f"MSTF | \t return: {'%.2f' % mean} % \t volatility: {'%.2f' % vol} %")

MSTF | 	 return: 0.11 % 	 volatility: 2.11 %

In [5]:
annual_mean = mean * 252 # 252 is the number of days the market is open
print(f"Annual mean: {'%.2f' % annual_mean} %")

Annual mean: 28.69 %

In [6]:
# annualization of the mean return
annual_std = vol * np.sqrt(252)
print(f"Yearly volatility: {'%.2f' % annual_std} %")

Yearly volatility: 33.46 %

Exercise 2: Compute the covariance and the correlation matrix for the following assets: ['AMZN', 'MSFT', 'GOOG', 'EURUSD=X', 'BTC-USD']

In [7]:
df = yf.download(["AMZN", "MSFT", "GOOG", "EURUSD=X", "BTC-USD"])["Adj Close"].dropna().pct_change(1).dropna()
df

[*********************100%***********************]  5 of 5 completed

Ticker                         AMZN   BTC-USD  EURUSD=X      GOOG      MSFT
Date
2014-09-18 00:00:00+00:00  0.003086 -0.071926 -0.008417  0.007695  0.003439
2014-09-19 00:00:00+00:00  0.019446 -0.069843  0.005452  0.011557  0.017995
2014-09-22 00:00:00+00:00 -0.020584  0.018632 -0.006087 -0.014612 -0.009680
2014-09-23 00:00:00+00:00 -0.002681  0.083647  0.000784 -0.010624 -0.010625
2014-09-24 00:00:00+00:00  0.014152 -0.028881  0.000193  0.011805  0.011168
...                             ...       ...       ...       ...       ...
2024-09-06 00:00:00+00:00 -0.036539 -0.039382  0.002767 -0.040794 -0.016381
2024-09-09 00:00:00+00:00  0.023397  0.056920 -0.002151 -0.015731  0.010007
2024-09-10 00:00:00+00:00  0.023660  0.011034 -0.004481  0.003143  0.020901
2024-09-11 00:00:00+00:00  0.027680 -0.005300 -0.001499  0.014266  0.021342
2024-09-12 00:00:00+00:00  0.013440  0.013669 -0.000914  0.022281  0.009361

[2510 rows x 5 columns]

In [8]:
# computing the covariance matrix
mat = np.cov(df, rowvar=False) # covariance with numpy
mat

array([[ 4.27227286e-04,  1.36467345e-04,  2.37316733e-06,
         2.39277548e-04,  2.29797638e-04],
       [ 1.36467345e-04,  1.90118106e-03, -1.50441494e-06,
         1.20986119e-04,  1.28562887e-04],
       [ 2.37316733e-06, -1.50441494e-06,  2.60886236e-05,
        -5.83232365e-07, -7.72984972e-07],
       [ 2.39277548e-04,  1.20986119e-04, -5.83232365e-07,
         3.18956419e-04,  2.19027314e-04],
       [ 2.29797638e-04,  1.28562887e-04, -7.72984972e-07,
         2.19027314e-04,  2.93064962e-04]])

In [9]:
pd.DataFrame(mat, columns=df.columns, index=df.columns) # putting in data frame for better visualization

Ticker        AMZN   BTC-USD      EURUSD=X          GOOG          MSFT
Ticker
AMZN      0.000427  0.000136  2.373167e-06  2.392775e-04  2.297976e-04
BTC-USD   0.000136  0.001901 -1.504415e-06  1.209861e-04  1.285629e-04
EURUSD=X  0.000002 -0.000002  2.608862e-05 -5.832324e-07 -7.729850e-07
GOOG      0.000239  0.000121 -5.832324e-07  3.189564e-04  2.190273e-04
MSFT      0.000230  0.000129 -7.729850e-07  2.190273e-04  2.930650e-04

In [10]:
df_pd = yf.download(["AMZN", "MSFT", "GOOG", "EURUSD=X", "BTC-USD"])["Adj Close"].dropna().pct_change(1).dropna()
df_pd.cov() # covariance with pandas

[*********************100%***********************]  5 of 5 completed

Ticker        AMZN   BTC-USD      EURUSD=X          GOOG          MSFT
Ticker
AMZN      0.000427  0.000136  2.373167e-06  2.392776e-04  2.297976e-04
BTC-USD   0.000136  0.001901 -1.504415e-06  1.209861e-04  1.285629e-04
EURUSD=X  0.000002 -0.000002  2.608862e-05 -5.832311e-07 -7.729850e-07
GOOG      0.000239  0.000121 -5.832311e-07  3.189565e-04  2.190273e-04
MSFT      0.000230  0.000129 -7.729850e-07  2.190273e-04  2.930650e-04

In [11]:
df_pd.corr() # correlation with pandas

Ticker        AMZN   BTC-USD  EURUSD=X      GOOG      MSFT
Ticker
AMZN      1.000000  0.151421  0.022479  0.648197  0.649433
BTC-USD   0.151421  1.000000 -0.006755  0.155367  0.172235
EURUSD=X  0.022479 -0.006755  1.000000 -0.006394 -0.008840
GOOG      0.648197  0.155367 -0.006394  1.000000  0.716392
MSFT      0.649433  0.172235 -0.008840  0.716392  1.000000