## Financial Data Analysis and Technical Indicators with Pandas

### Loading and Inspecting the Data

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

__Example dataset__: Forex Pair EUR/USD, hourly data (1h candles)

__Forex Pair EUR/USD__: the Price of 1 EUR in USD (e.g. 1.082603 USD per 1 EUR)

__Open__: Price at the beginning of the 1h bar <br>
__High__: Highest Price in the 1h bar<br>
__Low__: Lowest Price in the 1h bar<br>
__Close__: Last Price in the 1h bar<br>

In [7]:
data_file = "../assets/data/fin_data.csv"

In [8]:
df = pd.read_csv(data_file, index_col = "Datetime")
df

,Open,High,Low,Close,Adj Close,Volume,SMA_ratio,MACD_hist,RSI,SO_diff,returns
Datetime,,,,,,,,,,,
2022-09-13 08:00:00+00:00,1.014713,1.015744,1.013582,1.015744,1.015744,0,1.010741,-0.000011,54.977630,16.843137,0.000914
2022-09-13 09:00:00+00:00,1.015022,1.016880,1.014713,1.016880,1.016880,0,1.010875,0.000113,66.968203,7.167459,0.001119
2022-09-13 10:00:00+00:00,1.016984,1.018226,1.016363,1.018226,1.018226,0,1.010958,0.000261,68.519030,0.000000,0.001324
2022-09-13 11:00:00+00:00,1.018019,1.018849,1.017812,1.018019,1.018019,0,1.011022,0.000316,69.576672,-8.512356,-0.000204
2022-09-13 12:00:00+00:00,1.018123,1.018226,1.003814,1.004016,1.004016,0,1.010920,-0.000571,28.876104,-61.516603,-0.013755
...,...,...,...,...,...,...,...,...,...,...,...
2024-07-29 18:00:00+00:00,1.082720,1.082837,1.082251,1.082485,1.082485,0,0.997683,-0.000161,32.924687,-1.561545,-0.000325
2024-07-29 19:00:00+00:00,1.082603,1.082837,1.082603,1.082603,1.082603,0,0.997667,-0.000100,34.565767,-0.206691,0.000108
2024-07-29 20:00:00+00:00,1.082603,1.082603,1.082251,1.082368,1.082368,0,0.997655,-0.000064,23.563915,-0.508117,-0.000216
2024-07-29 21:00:00+00:00,1.082485,1.082720,1.082368,1.082603,1.082603,0,0.997661,-0.000015,25.625617,11.378243,0.000217
2024-07-29 22:00:00+00:00,1.082603,1.082837,1.082485,1.082603,1.082603,0,0.997673,0.000025,25.978469,7.046186,0.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11619 entries, 2022-09-13 08:00:00+00:00 to 2024-07-29 22:00:00+00:00
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       11619 non-null  float64
 1   High       11619 non-null  float64
 2   Low        11619 non-null  float64
 3   Close      11619 non-null  float64
 4   Adj Close  11619 non-null  float64
 5   Volume     11619 non-null  int64
 6   SMA_ratio  11619 non-null  float64
 7   MACD_hist  11619 non-null  float64
 8   RSI        11619 non-null  float64
 9   SO_diff    11619 non-null  float64
 10  returns    11619 non-null  float64
dtypes: float64(10), int64(1)
memory usage: 1.1+ MB

In [10]:
df.shape

(11619, 11)

In [11]:
# converting the index to datetime
df.index = pd.to_datetime(df.index)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11619 entries, 2022-09-13 08:00:00+00:00 to 2024-07-29 22:00:00+00:00
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       11619 non-null  float64
 1   High       11619 non-null  float64
 2   Low        11619 non-null  float64
 3   Close      11619 non-null  float64
 4   Adj Close  11619 non-null  float64
 5   Volume     11619 non-null  int64
 6   SMA_ratio  11619 non-null  float64
 7   MACD_hist  11619 non-null  float64
 8   RSI        11619 non-null  float64
 9   SO_diff    11619 non-null  float64
 10  returns    11619 non-null  float64
dtypes: float64(10), int64(1)
memory usage: 1.1 MB

In [13]:
# selecting the timestamps in march 2024 and only the close column
df.loc["2024-03", "Close"]

Datetime
2024-03-01 00:00:00+00:00    1.081432
2024-03-01 01:00:00+00:00    1.082368
2024-03-01 02:00:00+00:00    1.082251
2024-03-01 03:00:00+00:00    1.082017
2024-03-01 04:00:00+00:00    1.081666
                               ...
2024-03-29 18:00:00+00:00    1.079214
2024-03-29 19:00:00+00:00    1.079331
2024-03-29 20:00:00+00:00    1.079680
2024-03-29 21:00:00+00:00    1.079680
2024-03-31 23:00:00+00:00    1.079564
Name: Close, Length: 498, dtype: float64