## Compound Returns & Geometric Mean Return

*[Coding along with the Udemy course [Cryptocurrency Algorithmic Trading with Python and Binance](https://www.udemy.com/course/cryptocurrency-algorithmic-trading-with-python-and-binance/) by Alexander Hagman]*

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.4f}'.format

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

__What is Geometric Mean?__ The geometric mean is the average growth of an investment computed by multiplying n variables and then taking the nth –root. In other words, it is __the average return of an investment over time__, a metric used to evaluate the performance of a single investment or an investment portfolio ([corporatefinanceinstitute.com](https://corporatefinanceinstitute.com/resources/data-science/what-is-geometric-mean/)).

In [29]:
msft = pd.read_csv("../../assets/data/msft.csv", index_col = "Date", parse_dates = ["Date"])
msft

              Price  Returns
Date
2014-10-01  45.9000      NaN
2014-10-02  45.7600  -0.0031
2014-10-03  46.0900   0.0072
2014-10-06  46.0900   0.0000
2014-10-07  45.5300  -0.0122
...             ...      ...
2021-05-24 250.7800   0.0229
2021-05-25 251.7200   0.0037
2021-05-26 251.4900  -0.0009
2021-05-27 249.3100  -0.0087
2021-05-28 249.6800   0.0015

[1677 rows x 2 columns]

In [30]:
# compounding daily returns by addin 1 to each and every daily return
# then mutiplying all those elements with prod() to get the multiple
multiple = (1 + msft.Returns).prod() # alternative #3 to calculate multiple (compounding daily returns)
multiple

np.float64(5.439651075719862)

In [31]:
# number of elements in return column
n = msft.Returns.count()
n

np.int64(1676)

In [32]:
# now we can calculate the geometric mean return
# formula: multiple to the power of (1 divided by n) minus 1
geo_mean = multiple**(1/n) - 1 # Geometric mean return (daily)
geo_mean

np.float64(0.0010110805580043625)

In [33]:
print("The Geometric Mean Return is", "{:.2f}".format(geo_mean * 100), "%")

The Geometric Mean Return is 0.10 %

In [34]:
# inverse calculation
# compounding the geometric mean return and addin 1
multiple4 = (1 + geo_mean)**n # alternative #4 to calculate multiple (geometric mean)
multiple4

np.float64(5.439651075720363)

In [35]:
print("{:.2f}".format(multiple4))

5.44

***The concepts of compound returns, CAGR & geometric mean return are closely related.***

In [36]:
mu = msft.Returns.mean() # arithmetic mean return
mu

np.float64(0.0011597817982066949)

In [37]:
print("The Arithmetic Mean Return is", "{:.2f}".format(mu * 100), "%")

The Arithmetic Mean Return is 0.12 %

***In general the arithmetic mean return is always greater than the geometric mean return and therefore less useful (because we can't calculate the multiple just with the arithmetic mean return)***.

In [38]:
# if we try to compound the arithmetic mean with the follwing formula
# we DON'T GET THE MULTIPLE out of it
(1 + mu)**n # calculate multiple? not possible with arithmetic mean!

np.float64(6.977341539401793)

***For further calculations we should use the geomeric mean or, what's even better, work with logarithmic returns.***